* {
    font-family: "JetBrains Mono", "Blobs", "Blobmoji";
    color: #454545;
    font-size: 1rem;
}

html {
    font-size: 16px;
}

body {
    margin: 0 auto;
}

pre {
    white-space: pre-wrap;
    word-break: break-word;
}

h1,
h2 {
    text-align: center;
    color: #222;
}

h3, h4, h5, h6 {
    color: #222;
}

.numberInput {
    width: 32px;
    text-align: center;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
    margin-top: 2rem;
}

h3 {
    font-size: 1.5rem;
}

p {
    line-height: 2rem;
    margin: 1rem 0;
}

header {
    border-bottom: 1px solid grey;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
}

footer {
    margin: 2rem 0;
}

.not-list {
    list-style-type: none;
    padding-inline-start: 0;
}

.not-list li {
    float: left;
    margin-right: 1rem;
}

.not-list + p {
    clear: left;
    padding-top: 1rem;
}

li {
    line-height: 2rem;
}

nav ul {
    padding: 0;
    margin: 0;
}

nav ul li ul li::before {
    content: ">";
    padding-right: 1em;
}

nav ul li {
    list-style-type: none;
    display: flex;
}

nav ul li ul {
    padding: 0;
    padding-left: 1em;
    min-width: max-content;
}

.activepage {
    position: relative;
}

.dropdown {
    position: absolute;
    top: 100%;
    left: -1em;
    background-color: white;
    z-index: 1;
    box-shadow: 0px 5px 5px gray;
    visibility: hidden;
    padding-bottom: 1em;
    padding-right: 2em;
    width: 100%;
    max-height: 0;
    transition: max-height 1s ease-out;
    overflow: hidden;
}

.optbreak {
    display: none;
}

label,
b,
th {
    color: #862D2D;
    font-weight: bolder;
}

.activepage:hover > .dropdown {
    visibility: visible;
    max-height: 500px;
}

input[type="number"] {
    width: 2em;
    text-align: center;
}

input[type="button"],
button {
    background-color: transparent;
    border: 1px solid grey;
    cursor: pointer;
    margin: 0 2px;
}

input[type="button"]:active,
button:active {
    background-color: rgba(0, 0, 0, 0.1);
}

input {
    border: 1px solid grey;
}

select {
    border: 1px solid grey;
    padding: 1px 0;
    cursor: pointer;
}

#game {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    height: 100vh;
}

#queues {
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

#ronin {
    grid-template-rows: 1fr 1fr 1fr;
}

aside,
main {
    padding: 16px;
}

.buttonContainer {
    margin: 16px 0;
    display: flex;
    justify-content: center;
}


@media screen and (max-width: 616px) {
    main {
        margin: 0 1rem;
    }

    h1 {
        text-align: left;
    }

    .not-list li {
        float: none;
    }

    .not-list + p {
        padding-top: 0;
    }

    header {
        margin: 0 1em;
    }

    .optbreak {
        display: block;
    }

    nav {
        overflow-wrap: break-word;
    }

    nav ul li ul {
        min-width: auto;
    }
}