* {
    margin: 0;
    padding: 0;
    font-family: 'Courier Prime', Courier, monospace;
}

html {
    font-size: 16px;
    font-size: clamp(12px, 2.25dvh, 16px);
}

b {
    font-weight: bold;
}

button {
    background-color: #fff;
    color: #222;
    padding: 8px;
    border: 1px solid #222;
    border-radius: 4px;
    font-weight: 400;
    cursor: pointer;
    margin: 4px;
    font-size: 1rem;
}

.hidden {
    display: none;
}

@media (max-width: 600px) {
    body {
        width: 100%;
        height: 100dvh;
        min-height: 0;
        display: grid;
        grid-template-rows: auto 1fr;
        text-align: center;
    }
    
    h1,
    h2 {
        margin: 16px 0;
    }

    button {
        white-space: nowrap;
    }

    #game {
        display: grid;
        min-height: 0;
    }

    #encounter {
        display: grid;
        grid-template-rows: auto 2fr 0.5fr 1fr 1fr 1fr;
        min-height: 0;
    }

    #roninStats {
        display: grid;
        grid-template-rows: 1fr 1fr;
    }

    #roninStatBalls {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
    }

    #roninStatusBalls {
        display: flex;
    }

    #roninStatusBalls > div {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #encounterText,
    #combatHeader,
    #interactText {
        padding: 8px;
        display: grid;
        justify-content: center;
        align-items: center;
        overflow-y: auto;
    }

    #buttonContainer {
        display: grid;
        justify-content: center;
        align-items: center;
    }

    #buttonWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    buttonWrapper > div {
        display: contents;
    }

    #combatHeaderWrapper {
        display: grid;
        grid-template-columns: 1fr auto;
        align-items: center;
    }

    #combatHeader {
        justify-self: center;
    }

    .persons {
        border: 1px solid #222;
        border-radius: 4px;
        margin: 0 4px;
        height: 36px;
        width: 36px;
        justify-content: center;
        align-items: center;
        display: grid;
    }
}